
GlobalBans/obj/Debug/GlobalBans.csproj.CoreCompileInputs.cache
*.cache
.vs/GlobalBans/v16/.suo
.vs/GlobalBans/v16/.suo
.vs/ServerGuard/v16/.suo
.vs/GlobalBans/v16/.suo
.vs/GlobalBans/v16/.suo
.vs/GlobalBans/v16/.suo
*.lock
ServerGuard/.vs/ServerGuard/v16/Server/sqlite3/storage.ide
ServerGuard/.vs/ServerGuard/v16/Server/sqlite3/storage.ide-shm
ServerGuard/.vs/ServerGuard/v16/Server/sqlite3/storage.ide-wal
