
GlobalBans/obj/Debug/GlobalBans.csproj.CoreCompileInputs.cache
*.cache
.vs/GlobalBans/v16/.suo
.vs/GlobalBans/v16/.suo
.vs/ServerGuard/v16/.suo
.vs/GlobalBans/v16/.suo
.vs/GlobalBans/v16/.suo
.vs/GlobalBans/v16/.suo
*.lock
ServerGuard/.vs/ServerGuard/v16/Server/sqlite3/storage.ide
ServerGuard/.vs/ServerGuard/v16/Server/sqlite3/storage.ide-shm
ServerGuard/.vs/ServerGuard/v16/Server/sqlite3/storage.ide-wal
ServerGuard/obj/Debug/ServerGuard.csproj.FileListAbsolute.txt
*.dll
Builds/GlobalBans.pdb
Builds/Newtonsoft.Json.xml
ServerGuard/obj/Debug/GlobalBans.pdb
ServerGuard/obj/Debug/ServerGuard.csproj.CopyComplete
.vs/ServerGuard/v16/Server/sqlite3/storage.ide
.vs/ServerGuard/v16/Server/sqlite3/storage.ide-shm
.vs/ServerGuard/v16/Server/sqlite3/storage.ide-wal
Builds/ServerGuard.pdb
ServerGuard/obj/Debug/ServerGuard.pdb
